audit=false
registry=https://registry.npmjs.org/
@dwp:registry=https://registry.npmjs.org
@govuk-prototype-kit:registry=https://registry.npmjs.org
@ministryofjustice:registry=https://registry.npmjs.org
ignore-scripts=true