{% extends "layout.html" %} {% set serviceName %} Apply for help arranging child maintenance {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

{% include "feedback-banner.html" %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="" method="post" novalidate>
          <h1 class="govuk-heading-xl">Create an online account
          </h1>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
                Your account will not be created until your application is submitted. If you already have an account, the PIN and password that you give now will not be updated automatically.
            </strong>
          </div>

          <!-- H1 stop -->

          <!--Detail collection-->

          <!-- <div class="govuk-form-group">
            <label class="govuk-label" for="email">
              Email address
            </label>
            <div id="email-hint" class="govuk-hint">
              We’ll only use this to send you updates about the application.
            </div>
            <input class="govuk-input" id="email" name="email" type="email" spellcheck="false"
              aria-describedby="email-hint" autocomplete="email">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="email">
              Confirm email address
            </label>
            <input class="govuk-input" id="email" name="email" type="email" spellcheck="false"
              aria-describedby="email-hint" autocomplete="email">
          </div> -->

          <h2 class="govuk-heading-m">Create 7-digit personal identification number (PIN)</h2>
          <div class="govuk-form-group">
            <label class="govuk-label" for="width-7">
              Create PIN
            </label>
            <div id="email-hint" class="govuk-hint">
              You’ll need to remember this so you can sign in to your online account.
            </div>
            <input class="govuk-input govuk-input--width-5" id="width-07" name="width-10" type="text">
          </div>

          <div class="govuk-!-padding-bottom-5"></div>

          <h2 class="govuk-heading-m">Create a memorable password</h2>

          <P class="govuk-body">You’ll need this if you forget your PIN.
            Try not to use an easily guessed password like your children's names or dates of birth.
          </P>

          <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
              Create password
            </label>
            <div id="email-hint" class="govuk-hint">
              Your memorable password must have at least 8 characters.
            </div>
            <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password"
              value="1234ABC!" data-module="moj-password-reveal">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
              Confirm password
            </label>
            <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password"
              value="1234ABC!" data-module="moj-password-reveal">
          </div>

          <a href="../1-start-eligibility/urn.html" role="button" draggable="false"
            class="govuk-button">
            Continue
          </a>

        </form>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>





{% endblock %}