{% extends "layout-fba.html" %}
{% block pageTitle %} Family Based Arrangement{% endblock %}
{% block content %}

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">Choose your child maintenance type</h1>

                    <p class="govuk-body">This tool will ask about your situation and give reasons why a family-based arrangement or the Child Maintenance Service could be the right choice.</p>

                    <p class="govuk-body">You will not need to provide any personal information.</p>

                    <p class="govuk-body">If you still need help to decide, you can <a href="#" class="govuk-link">get help arranging child maintenance</a> to learn more about the different options. At the end, you can choose to make a family-based arrangement or start a new child maintenance application.</p>

                    <a href="safeguarding" role="button" draggable="false"
                        class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
                        Start now
                    </a>

                </div>

                <!-- Related content -->

                <div class="govuk-grid-column-one-third">

                    <div class="govuk-button--sticky">
                        <a href="https://www.bbc.co.uk/weather" role="button" draggable="false"
                            class="govuk-button govuk-button--warning govuk-!-padding-5 govuk-button--sticky govuk-!-width-full govuk-button--stick hide-on-small"
                            data-module="govuk-button">
                            Hide this page
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}