{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!--Feedback banner start-->
{% include "feedback-banner.html" %}
<!--Feedback banner stop-->
<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" novalidate>
                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl ">
                            <h1 class="govuk-fieldset__heading">
                                What is the best number to call you on?
                            </h1>

                        </legend>

                        <div id="passport-issued-hint" class="govuk-body">
                            We will send you text message updates. The sender will appear in your phone as ChildMaint. We may need to call you if we have questions about your application.
                            <br><br>
                              <p class="govuk-body">If you already have an online account, any new phone number you give now will not be applied automatically. You can change it later in your online account.</p>
                          </div>
                        <div class="govuk-inset-text">We will not share your answers with the other parent.</div>
                    </div>

                    <div class="govuk-form-group">
                        <h3 class="govuk-heading-s">Phone number</h3>
                        <span id="changed-name-hint" class="govuk-hint">If you do not have your own phone, give the
                            phone number of someone you trust.</span>
                        <br>
                        <div class="govuk-!-padding-bottom-5"></div>
                        <input class="govuk-input govuk-input--width-20" id="mobile-number" name="mobile-number"
                            type="tel" autocomplete="tel">
                    </div>

                    <fieldset class="govuk-fieldset" aria-describedby="child1BenefitInformation">
                        <p><strong> Is this your own number? </strong></p>

                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="other-parent-phone-radio-1" name="phone-number"
                                    type="radio" value="yes~pp-phone-time" aria-expanded="true">
                                <label class="govuk-label govuk-radios__label" for="other-parent-phone-radio-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input aria-controls="conditional-other-parent-phone-radio-1"
                                    class="govuk-radios__input" id="other-parent-phone-radio-2" name="phone-number"
                                    type="radio" value="no~pp-text">
                                <label class="govuk-label govuk-radios__label" for="other-parent-phone-radio-2">
                                    No
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                id="conditional-other-parent-phone-radio-1">
                                <label class="govuk-label" for="other-parent-contact-work-phone">
                                    Whose number is this?
                                </label>
                                <span id="changed-name-hint" class="govuk-hint">For example, a family member, friend or
                                    support worker.</span>
                                <div class="govuk-form-group">
                                    <input class="govuk-input govuk-input--width-20"
                                        id="other-parent-contact-work-phone" name="other-parent-contact-work-phone"
                                        type="tel">
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <br>

                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </form>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>

{% endblock %}