{% extends "layout.html" %} {% set serviceName %} Apply for help arranging child maintenance {% endset%} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

{% include "feedback-banner.html" %}

<div class="govuk-width-container">
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  We are going paperless
                </h1>
              </legend>
              <div id="dob-hint" class="govuk-body">
               We will securely store your letters online so you can:<br><br>
               <ul class="govuk-list govuk-list--bullet">
                  <li>view and download your letters whenever you need</li>
                  <li>keep everything in one place</li>
                  <li>get your letters as soon as we send them</li>
                  <li>save paper and help protect the environment</li>
               </ul>
              </div>
             
                  <div id="signIn-hint" class="govuk-body">
      Do you need postal copies of your letters?
    </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="email-or-paper" name="email-or-paper" type="radio" value="Yes~/apply/february2025/3-applicant-info-RP/rp-phone.html">
                  <label class="govuk-label govuk-radios__label" for="email-or-paper">
                    No
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                    We will only send you postal letters when it is essential
                  </div>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="email-or-paper-2" name="email-or-paper" type="radio" value="No~/apply/february2025/3-applicant-info-RP/rp-phone.html">
                  <label class="govuk-label govuk-radios__label" for="email-or-paper-2">
                    Yes
                  </label>
             
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>
      {% include "exit-button.html" %}
    </div>
  </main>
</div>

<!-- Radio buttons end  -->


{% endblock %}

