{% extends "layout.html" %} {% set serviceName %} Apply for help arranging child maintenance {% endset%} {% block
pageTitle %} GOV.UK Prototype Kit {% endblock %}

{% block content %}

{% include "feedback-banner.html" %}

<div class="govuk-width-container">
    {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="select-your-address.html" method="get" novalidate>
                    <h1 class="govuk-heading-xl">Where do you live?</h1>
                    <div class="govuk-inset-text">
                        We ask this to confirm your identity. We will not share your answers with the other parent.
                      </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="postcode">
                            Postcode
                        </label>
                        <div id="postcode-hint" class="govuk-hint">
                            For example, AA3 1AB.
                        </div>
                        <input class="govuk-input govuk-!-width-two-thirds" id="postcode-parent" name="postcode"
                            type="text" aria-describedby="postcode-hint">
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="searchString">
                            Building number or name
                        </label>
                        <div id="searchString-hint" class="govuk-hint">
                            For example, 15 or Prospect Cottage.
                        </div>
                        <input class="govuk-input govuk-!-width-two-thirds" id="searchString-parent" name="searchString"
                            type="text" aria-describedby="searchString-hint">
                    </div>
                    <p class="govuk-body govuk-!-margin-bottom-0"><a href="where-do-you-live.html"
                        class="govuk-link">Enter
                        address manually</a>
                </p>
<br>
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Find address
                    </button>
                
                </form>

            </div>
            {% include "exit-button.html" %}
        </div>
    </main>
</div>



{% endblock %}